
// Colors Indigo
$indigo-50: #eef2ff;
$indigo-100: #e0e7ff;
$indigo-200: #c7d2fe;
$indigo-300: #a5b4fc;
$indigo-400: #818cf8;
$indigo-500: #6366f1;
$indigo-600: #4f46e5;
$indigo-700: #4338ca;
$indigo-800: #3730a3;
$indigo-900: #312e81;
$indigo-950: #1e1b4b;

// Colors Blue
$blue-900: #1e3a8a; 
$blue-700: #1d4ed8; 
$blue-400: #60a5fa;  

// Colors Teal
$teal-400: #2dd4bf; 

// Colors Gray
$gray-300: #d1d5db; 

// Colors Yellow
$c-yellow: #facc15;


// Breakpoints
$breakpoints: (
  'phone': 320px,
  'tablet': 768px,
  'desktop': 1024px,
);